<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
     <section name="database" type="System.Configuration.NameValueSectionHandler"></section>
    <section name="userSettings" type="System.Configuration.NameValueSectionHandler"></section>
    
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  
    <database>
    <add key="msDbHost" value="tst10-sql.spb.helix.ru"></add>
    <add key="msDbLogin" value="dev"></add>
    <add key="msDbPass" value="sql"></add>
    <add key="msDbBatchDropperStab" value="BatchDropperStab"></add>
    <add key="msDbLW" value="LW08v6"></add>
    <add key="msDb" value="msdb"></add>
    <add key="msACGD" value="AllCenterGlobalDictionariesWork"></add>
    <add key="msPreOrderV4" value="PreOrderV4"></add>
  </database>
  <userSettings>
    <add key="userBarCode" value="7777"></add>
    <add key="userPassword" value="Autotests1"></add>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow></configuration>